/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: blue;
    margin: 0;
    padding: 2em;
    color:grey;
}

main {
    background: white;
    padding: 2em;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 15px 5px rgb(207, 217, 247);
}
h1{
  text-align:center;
}